# Data science libraries
numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
cvxpy
yahooquery
requests
statsmodels
yfinance
datetime

# FastAPI and its dependencies
fastapi
uvicorn[standard]

# supabase and its dependencies
supabase
python-dotenv
